* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content-first {
    background-color: #00bcd4;
    padding-top: 150px;
    height: 100%;
}

.content-perfil {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid rgb(200, 208, 215);
    border-radius: 5px;
    padding: 20px;
    position: relative; 
}

.content-img {
    position: absolute; 
    top: -90px;
    left: 10px; 
}

.content-img img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
}

.content-perfil h2 {
    margin-top: 60px; 
    font-size: 30px;
    width: 100%;
}

.content-org{
    color: rgb(63, 62, 62);
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}
.content-info{
    margin-top: 15px;
    margin-bottom: 10px;
    color: gray;
}

.content-perfil button{
    width: 90px;
    height: 30px;
    background-color: rgb(235, 231, 231);
    border: 0px;
    margin-top: 20px;
}